<h2>マイページ</h2>
<h2>登録情報　<%= link_to "編集する", edit_public_customer_path %></h2>
<%= "#{@customer.first_name} #{@customer.last_name}"%>
<%= "#{@customer.first_name_kana} #{@customer.last_name_kana}" %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>

<h2>配送先</h2>
<h2>注文履歴</h2>
<%= link_to "一覧を見る", public_orders_path(@customer) %>