<div class="container px-5 px-sm-0">
  <div class="col-md-8 offset-md-1">
    <h1>商品一覧</h1>
    <%= link_to "商品追加", new_admin_item_path %>
    <div class="col-md-8 offset-md-1"></div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>商品ID </th>
          <th>商品名</th>
          <th>税抜価格</th>
        </tr>
      </thed>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td></td>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </td>
          <td>
            <%= item.price %>
          </td>
          </tr>
        <% end %>
        <%= paginate @items %>
      </tbody>
    </table>
  </div>
</div>