<div class="container px-5 px-sm-0">
  <div class="col-md-8 offset-md-1">
    <h2 class="mt-3">New book</h2>
    <%= form_with model: @item, url:admin_items_path, method: :post do |f| %>
      <table>
        <tr>
          <th><%= f.label :image, "商品画像" %></th>
          <th><%= f.file_field :image %></th>
        </tr> 
        <tr>
          <th><%= f.label :name, "商品名" %></th>
          <th><%= f.text_field :name %></th>
        </tr>
        <tr>
          <th><%= f.label :introduction, "商品説明" %></th>
          <th><%= f.text_area :introduction %></th>
        </tr> 
        <tr>
          <th><%= f.label :price, "商品価格" %></th>
          <th><%= f.text_field :price %></th>
        </tr>
        
      </table>
      <div class="form-group"><%= f.submit '新規登録' %>
      </div>
    <% end %>
  </div>
</div>      